absl-py==2.0.0
annotated-types==0.6.0
anyio==3.7.1
appnope==0.1.3
asttokens==2.4.1
autoprop==4.1.0
bayesian-optimization==1.4.3
black==23.11.0
blis==0.7.11
cachetools==5.3.2
catalogue==2.0.10
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==2.2.1
cma==3.3.0
colorama==0.4.6
confection==0.1.4
contourpy==1.2.0
cycler==0.12.1
cymem==2.0.8
Cython==3.0.5
decorator==5.1.1
distro==1.8.0
drake==1.22.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
executing==2.0.1
Farama-Notifications==0.0.4
filelock==3.13.1
fonttools==4.44.0
fsspec==2023.10.0
glooey==0.3.6
google-auth==2.24.0
google-auth-oauthlib==1.1.0
gradescope-utils==0.5.0
grpcio==1.59.3
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
huggingface-hub==0.19.4
idna==3.4
imageio==2.32.0
ipython==8.17.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
langcodes==3.3.0
lazy_loader==0.3
manipulation==2023.11.8
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.1
matplotlib-inline==0.1.6
mdurl==0.1.2
meshio==5.3.4
more-itertools==10.1.0
mpld3==0.5.9
mpmath==1.3.0
murmurhash==1.0.10
mypy-extensions==1.0.0
networkx==3.2.1
nevergrad==1.0.0
nltk==3.8.1
numpy==1.26.1
oauthlib==3.2.2
openai==1.3.5
packaging==23.2
pandas==2.1.2
parso==0.8.3
pathspec==0.11.2
pexpect==4.8.0
Pillow==10.0.1
platformdirs==4.0.0
preshed==3.0.9
prompt-toolkit==3.0.39
protobuf==4.23.4
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocotools==2.0
pydantic==2.5.2
pydantic_core==2.14.5
pydot==1.4.2
pyglet==1.5.28
Pygments==2.16.1
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-fcl==0.7.0.5
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.6.0
rsa==4.9
safetensors==0.4.1
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.3
signature_dispatch==1.0.1
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stable-baselines3==2.1.0
stack-data==0.6.3
sympy==1.12
tensorboard==2.15.1
tensorboard-data-server==0.7.2
thinc==8.2.1
threadpoolctl==3.2.0
tifffile==2023.9.26
timeout-decorator==0.5.0
tokenizers==0.15.0
torch==2.1.0
torchvision==0.16.0
tqdm==4.66.1
traitlets==5.13.0
trimesh==4.0.2
typeguard==3.0.2
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
vecrec==0.3.1
vhacdx==0.0.4
wasabi==1.1.2
wcwidth==0.2.9
weasel==0.3.4
Werkzeug==3.0.1
xatlas==0.0.8
